/* =======================================================
   CEREMONY
======================================================= */

.ceremony{

    text-align:center;

    padding:70px 0 30px;

}

/* ----------------------------------------------------------
   Decorative Divider
---------------------------------------------------------- */

.ceremony-note{

    max-width:650px;

    margin:34px auto 48px;

    font-family:"Noto Naskh Arabic", serif;

    font-size:1.55rem;

    line-height:.2;

    color:#2b2b2b;

    font-weight:400;
}

.ceremony-place-wrap{
    margin:48px 0 8px;

    display:flex;
    flex-direction:column;

    align-items:center;
}

.ceremony-place-wrap::before{
    content:"";

    width:110px;
    height:1px;

    background:#dddddd;

    margin-bottom:5px;
}

.ceremony-place{

    font-family:"Noto Naskh Arabic", serif;

    font-size:2rem;

    font-weight:600;

    color:#222;

    line-height:1.45;

    margin:0;

    letter-spacing:0;

    text-transform:none;
}

.ceremony-location-icon{

    display:flex;
    justify-content:center;
    align-items:center;

    margin-top:20px;
    margin-bottom:10px;

    color:#c7a56a;

    opacity:.95;
}

.ceremony-location-icon svg{

    width:30px;
    height:30px;
}
.ceremony-icon{

    width:52px;
    height:52px;

    color:#c7a56a;

    margin-bottom:2px;

    opacity:.95;
}

.ceremony-time{

    margin-top:32px;

    font-family:var(--heading-font);

    font-size:1.75rem;

    font-style:italic;

    color:#666;

    letter-spacing:.02em;
}

.section-divider{
    display:flex;
    align-items:center;
    justify-content:center;
    gap:14px;
    margin:-45px 0 24px;
}

.section-divider span{
    width:90px;
    height:1px;
    background:linear-gradient(
        90deg,
        transparent,
        #c8c8c8,
        #f4f4f4,
        #c8c8c8,
        transparent
    );
}

.section-divider-icon{
    color:#c7c7c7;
    font-size:10px;
    line-height:1;
}


@media (max-width:480px){

    .section-divider span{
        width:58px;
    }

}
.celebration-bottom-note{
    margin-top:-55px;
    text-align:center;

    font-family:"Noto Naskh Arabic", serif;
    font-size:1.45rem;
    line-height:2;
    color:#333;
}

.restaurant-name{
    display:block;
    margin-top:12px;

    font-size:2rem;
    font-weight:700;
    letter-spacing:.08em;

    color:#222;
}
/* Ceremony bottom text */

.ceremony-hero.has-image .celebration-bottom-note,
.ceremony-hero.has-image .restaurant-name{
    color:#fff !important;
    text-shadow:0 3px 10px rgba(0,0,0,.75);
}

.ceremony-hero.no-image .celebration-bottom-note,
.ceremony-hero.no-image .restaurant-name{
    color:#222 !important;
    text-shadow:none;
}